.debug {
	@include fixed(top 0 right 0);
	background-color: #FCF8E3;
	border-bottom: 1px solid #FBEED5;
	border-left: 1px solid #FBEED5;
	color: #C09853;
	padding: 3px 6px;
	z-index: z("debug");
	font: small-caption;


	&:after {
		content: "mobile: (max-width: 48em)";

		// Loop through the breakpoints that should be shown
		$show-breakpoints: ("tablet", "labtop", "desktop");
		@each $bp in $show-breakpoints {
			$width: inspect(map-get($breakpoints, $bp));
			@include breakpoint($bp) {
				content: "#{$bp}: #{$width}";
			}
        }
	}
}


.debug__link {
	@include trans("color");
	color: #C09853;
	text-decoration: none;


	&:hover {
		.no-touch & {
			color: darken(#C09853, 10%);
		}
	}
}