/**
 * Runs `color-diff` on ever color of the base pallet, and returns a list of diffs
 *
 * @access private
 * 
 *
 * @param {Map} $palette - Map pallet of base and colors
 *
 *
 * @example scss
 * $base-pallet: (
 * 	  'base': #FF6351,
 * 	  'colors': #CFDFE8 #BFB9C3 #CF9192 #FF6351 #BF413C #7F3128 #732C24
 * ) !default;
 *
 * $palette-diff: palette-diff($base-palette);
 * 
 * @returns {Map} List of diffs for the colors in the palette
 */
@function palette-diff($palette) {
  $base: map-get($palette, 'base');
  $colors: map-get($palette, 'colors');
  $diffs: ();
 
  @each $color in $colors {
    $diffs: append($diffs, color-diff($base, $color));
  }
 
  @return $diffs;
}