.footer {
	@include fixed(right 0 bottom 0 left 0);
	width: 100%;
	z-index: z("footer__main");
	background: c("footer__bg");
	display: flex;
    align-items: center;
    padding: 0 .5em;
    height: h("footer");
    border-top: 1px solid c("footer__border");

    @include breakpoint(tablet) {
        
    }

    .footer__text {
    	@include typecsset-font-size(10px, 20px);
    	margin: 0;
    	color: c("footer__text");
    }
}