.navbar {
    box-shadow: 0 1px 5px rgba(black,.25);
    background-color: $dark;
    margin-bottom: 0px;
    z-index: 200;

    .container,
    .container-fluid {
        border-bottom: none;
        padding: 0 20px;

        .brand {
            @extend %roboto-slab--bold;
            color: $light;
            text-shadow: none;
            
        }

        .navbar-text {
            color: $light;

            a {
                color: $light;
            }
        }
    }

    &.navbar-fixed-top {
        @media (min-width: 768px) and (max-width: 979px) {
            position: fixed;
        }
    }

    &.navbar-fixed-top {
        @media (max-width: 767px) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}