/**
 * Base heading sizes, set in px and converted to rem with px fallback
 */
$headings : (
	"h1" : 48px,
	"h2" : 36px,
	"h3" : 30px,
	"h4" : 24px,
	"h5" : 20px,
	"h6" : 18px
);
$typecsset-h1-size: $headings("h1");
$typecsset-h2-size: $headings("h2");
$typecsset-h3-size: $headings("h3");
$typecsset-h4-size: $headings("h4");
$typecsset-h5-size: $headings("h5");
$typecsset-h6-size: $headings("h6");

// Would you like to show a baseline grid? This is handy during development.
$typecsset-show-baseline:       true;


/**
 * Breakpoints for responsive design, any name/ pair can go here
 */
$breakpoints: (
	"tablet"  : (min-width: 48em), // 768px
	"labtop"  : (min-width: 62em), // 992px
	"desktop" : (min-width: 75em)  // 1200px
);



/**
 * Colors used thoughout the site using meaningful names
 */
$colors : (
	"primary" : "#333",
);



/**
 * Assigns stacking order to items from 1 place, assigned with meaningful names
 */
$z-layers: (
	"var-name" : 5
);



/**
 * Simple base animation to animate any properties that can be animated
 */
$anim : all 0.3s linear;



