/**
 * Base heading sizes, set in px and converted to rem with px fallback
 */
$headings : (
	"h1" : 48px,
	"h2" : 36px,
	"h3" : 30px,
	"h4" : 24px,
	"h5" : 20px,
	"h6" : 18px
);
$typecsset-h1-size: map-get($headings, "h1") !default;
$typecsset-h2-size: map-get($headings, "h2") !default;
$typecsset-h3-size: map-get($headings, "h3") !default;
$typecsset-h4-size: map-get($headings, "h4") !default;
$typecsset-h5-size: map-get($headings, "h5") !default;
$typecsset-h6-size: map-get($headings, "h6") !default;

// Would you like to show a baseline grid? This is handy during development.
$typecsset-show-baseline:       true;



/**
 * Breakpoints for responsive design, any name/ pair can go here
 */
$breakpoints: (
	"tablet"  : (min-width: 48em), // 768px
	"labtop"  : (min-width: 62em), // 992px
	"desktop" : (min-width: 75em)  // 1200px
);



/**
 * Initial palette used to define the diff between the base color and each color from the palette. There can be as many colors as one wants.
 * 
 * @Link https://ton.twitter.com/i/ton/data/dm/487926326314418176/487926326322823168/8M2k8xOp.png Initial color palette
 *
 * @type Map
 */ 
$base-palette: (
  "base": #FF6351, 
  "colors": #CFDFE8 #BFB9C3 #CF9192 #FF6351 #BF4A3C #7F3128 #732C24
) !default;




/**
 * Colors used thoughout the site using meaningful names
 */
$site-colors : (
	"primary" : "#333",
);



/**
 * Assigns stacking order to items from 1 place, assigned with meaningful names
 * and in 1 place for easier site-wide organization
 */
$z-layers: (
	"var-name" : 5
);



/**
 * Simple base animation to animate any properties that can be animated
 */
$anim : all 0.3s linear;



