.list-header {
    margin-bottom: 1em;
}


.list-view {
    
    th,
    .centered { text-align: center; }
}


.filters {
    padding: 10px 0 0 10px;
    width: 100%;
    display: block;
    clear: both;

    &.are-open {

    }
}


.filter {
    display: inline-block;
    // max-width: 25%;
    padding: 0 5px;


    .select2-container { width: 100%; }
    .form-control { float: none; }

    &--contributor { width: 225px }
    // &--departments { width: 190px; }
    &--dates {
        .form-control { width: 75px; }
    }

    &--orderby { width: 200px; }
}


.filter__btn {
    margin-left: 5px;
}


.js-link {
    @include trans();
    cursor: pointer;

    &:hover {
        > td {
            .no-touch & {
                background: #fbf4dc;
            }
        }
    }
}


.color-display {
    @include size(1.25em);
    display: inline-block;
    border: 1px solid #ccc;

    .select2-chosen &, 
    .select2-result-label & {
        @include relative(top 2px);
        @include size(1em);
        margin-right: 5px;
    }
}


.no-sort::after { display: none!important; }
.no-sort { pointer-events: none!important; cursor: default!important; }

.DT-search,
.DT-search input {
    width: auto !important;
}
