///
/// Enable layout debugging
/// 
/// @link http://pesticide.io/
/// 
$pesticide-debug-outline: false;
$pesticide-debug-depth: false;





/// 
/// Breakpoints for responsive design, any name/ pair can go here.
/// <br>See `breakpoint` mixin under `Helpers`
/// 
/// @group Site Styles
/// 
$breakpoints: (
	"tablet"  : (min-width: 48em), // 768px
	"laptop"  : (min-width: 62em), // 992px
	"desktop" : (min-width: 75em)  // 1200px
);




/// 
/// Base heading sizes, set in px and converted to rem with px fallback.
/// 
/// @group Site Styles
/// 
$headings : (
	"h1" : 48px,
	"h2" : 36px,
	"h3" : 30px,
	"h4" : 24px,
	"h5" : 20px,
	"h6" : 18px
);
$typecsset-h1-size: map-get($headings, "h1") !default;
$typecsset-h2-size: map-get($headings, "h2") !default;
$typecsset-h3-size: map-get($headings, "h3") !default;
$typecsset-h4-size: map-get($headings, "h4") !default;
$typecsset-h5-size: map-get($headings, "h5") !default;
$typecsset-h6-size: map-get($headings, "h6") !default;

// Would you like to show a baseline grid? This is handy during development.
$typecsset-show-baseline: true;





/// 
/// Font Stacks
/// <br>See `ff` mixin under `helpers
/// 
/// @group Site Styles
/// 
$font-stacks : (
	"Helvetica" : (Helvetica, Arial, sans-serif),
);




/// 
/// Colors used thoughout the site using meaningful names, colors set using `$c-name` are defined above sass this map in `_variables.scss`.
/// <br>See `c` mixin under `Helpers`
/// 
/// @group Site Styles
/// 
$site-colors : (
	"main-bg" : #000,
);




/// 
/// Sizes array for various dimensions
/// <br>See `s` mixin to under `Helpers` 
/// 
/// @group Site Styles
/// 
$sizes: (
	"main-content-width" : 75%,
);





/// 
/// Various transitions, defined by usage name or by properties effected
/// <br>See `trans` mixin under `Helpers`
/// 
/// @group Site Styles
/// 
$transitions : (
	"all"    : all 0.3s linear,
	"border" : border 0.3s linear,
	"width"  : width 0.5s ease-in-out,
	"color"  : color 0.3s linear,
);





/// 
/// Assigns stacking order to items from one place, assigned with meaningful names.
/// <br>See `z` mixin under `Helpers`
/// 
/// @group Site Styles
/// 
$z-layers: (
	"main-container"     : 1,

	"debug" : 1000,
);

