.btn {
    position: relative;

    .fa {
        @include absolute(top 50% right 1em);
        @include transform( translate(0, -50%) );
    }

    &--nav {
        @include absolute(top 50% right 0);
        @include size( 3em h("navbar") );
        @include transform( translate(0, -50%) );
        @include transition($anim-NavBtn);
        @include typecsset-font-size(16px, false);
        border: none;
        background: c("navbar");
        padding: .25em 1em;
        color: c("btn__nav");

        @include breakpoint(tablet) {
            display: none;
        }


        &:hover {
            .no-touch & {
                background-color: c("sidebar");
                color: c("navbar");
            }
        }

        &:focus,
        .nav--open & {
            background-color: c("sidebar");
            color: c("navbar");
        }
    }
}


.fa {

    &--bars {

    }
}