$typecsset-show-baseline: false;



$ff-Sans  : "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-Serif : "Roboto Slab", Georgia, "Times New Roman", Times, serif;
$ff-Mono  : "Droid Sans Mono", monospace;


$breakpoints: (
	"nav"     : (min-width: em(464)),
	"tablet"  : (min-width: em(768)),
	"laptop"  : (min-width: em(992)),
	"desktop" : (min-width: em(1200))
);


$base-palette: (
  "base": #999, 
  "colors": #fff #ddd #bbb #999 #777 #555 #333
);
$gray-palette : create-named-palette(#999);



$color-code-red    : #f92672;
$color-code-blue   : #66d9ef;
$color-code-yellow : #e6db74;
$color-code-green  : #a6e22e;
$color-code-blue   : #66d9ef;
$site-colors : (
	"main-bg" : #fff,
	"body-text" : #222,

	"navbar"     : #fcfcfc,
	"navbar-bd"  : #c9c9c9,
	"logo__main" : #333,
	"btn__nav"   : #333,
	
	"sidebar"            : #343434,
	"sidebar__border"    : #c9c9c9,
	"sidebar__subnav-bg" : #e3e3e3,
	"sidebar__subnav-a"  : gray,
	"sidebar__highlight" : #fff,
	
	"nav-link"        : #b3b3b3,
	"nav-link-active" : #404040,
	"nav-hover"       : #4a4a4a,
	"nav-open-hover"  : #d6d6d6,

	"inline-code--bg"   : #f9f2f4,
	"inline-code--text" : #c7254e,

	"page-link"         : #2980B9,
	"page-link-visited" : #998099,

	"example"         : #f7f7f7,
	"code--bg"        : #222,
	"code--tag"       : white,
	"code--title"     : $color-code-red,
	"code--attribute" : $color-code-green,
	"code--value"     : $color-code-yellow,
	"code--comment"   : #999,
	"code--keyword"   : $color-code-red,
	"code--string"    : $color-code-yellow,
	"code--class"     : $color-code-blue,
	

	"footer__bg"     : #1d1d1d,
	"footer__border" : #555,
	"footer__text"   : #fff,
);




$heights : (
	"navbar"         : 3em,
	"navbar__tablet" : 3em,

	"footer"         : 1.8em,
);
$w-Sidebar : 17em;


$z-layers : (
	"offscreen"        : -1,

	"page__content"    : 20,
	"sidebar__close"   : 25,
	"sidebar"          : 30,

	"footer__main"     : 50,

	"ribbon"           : 90,
	"navbar"           : 100,
);


$anim-DefaultTime : 0.3s;
$anim-Header  : height $anim-DefaultTime linear;
$anim-Content : margin $anim-DefaultTime linear;
$anim-Ribbon  : opacity $anim-DefaultTime linear;
$anim-NavBtn  : all $anim-DefaultTime ease-in-out;
$anim-Sidebar : all $anim-DefaultTime ease-in-out;

$offCanvasMenu : translateX($w-Sidebar);





$sidebar-hover: #c5c5cb;
$sidebar-background: #f5f5f6;

$lines: #e7e7e9;
$dark: #13132a;
$light: #7795b4;
$text: #2d2d2d;

$syntax-string: #000000;
$syntax-comment: #505050;
$syntax-number: #09559b;
$syntax-label: #001775;



