.footer {
	@include fixed(right 0 bottom 0 left 0);
	width: 100%;
	z-index: z("footer__main");
	background: c("footer__bg");
	display: flex;
    align-items: center;
    padding: 1em .75em;

    @include mq(tablet) {
        width: $w-Sidebar;
    }

    .footer__text {
    	@include fs(12px, 0);
    	margin: 0;
    	color: c("footer__text");
        line-height: 1;
    }
}