.header {
    position: relative;
    margin: 0;

    &--main {
        @include fixed(top 0 right 0 left 0);
        @include transition($anim-Header);
        box-shadow: 0 0 3px rgba(black, .3);
        border-bottom: 1px solid #111;
        background-color: c("navbar");
        padding: 0 0.5em;
        z-index: z("navbar");
        height: h("navbar");
        display: flex;
        align-items: center;

        @include breakpoint(tablet) {
            height: h("navbar__tablet");
            padding: 0 1em;
        }
    }


    &--page {
        border-bottom: 1px solid c("sidebar__border");
        margin-bottom: 1em;
    }
}




.logo {
    font-family: 'Roboto Slab';
   
    text-shadow: 0 1px 1px rgba(white, .2);
    text-decoration: none;
    
    &--main {
        @include transition($anim);
         color: c("logo__main");
         font-weight: bold;

        @include breakpoint(tablet) {
            @include typecsset-font-size(21px);
        }
    }
}




.ribbon {
    @include absolute(top 100% right 0);
    @include transition($anim-Ribbon);
    z-index: z("offscreen");
    opacity: 0;
    pointer-events: none;

    @include breakpoint(tablet) {
        opacity: 1;
        pointer-events: initial;
        z-index: z("ribbon");
    }
}