.header {
    position: relative;
    margin: 0;

    &--main {
        @include fixed(top 0 right 0 left 0);
        @include transition($anim-Header);
        background-color: c("navbar");
        padding: 0 1em;
        z-index: z("navbar");
        height: s("navbar", $heights);
        display: flex;
        align-items: center;
        border-bottom: 1px solid c("navbar-bd");

        @include mq(tablet) {
            height: s("navbar__tablet", $heights);
        }
    }


    &--page {
        border-bottom: 1px solid c("sidebar__border");
        margin-bottom: 1em;
    }
}




.logo {
    font-family: 'Roboto Slab';
   
    text-shadow: 0 1px 1px rgba(white, .2);
    text-decoration: none;
    
    &--main {
        @include trans();
        color: c("logo__main");
        font-weight: bold;

        @include mq(tablet) {
            @include fs(20px);
        }
    }
}




.ribbon {
    @include absolute(top 100% right 0);
    @include transition($anim-Ribbon);
    z-index: z("offscreen");
    opacity: 0;
    pointer-events: none;

    @include mq(tablet) {
        opacity: 1;
        pointer-events: initial;
        z-index: z("ribbon");
    }
}