.page {
	.h {
		font-family: $ff-Serif;
		margin: 1.5em 0 .25em;
		line-height: 1;

		&--1 {
			@include fs(36px, false);
		}

		&--2 {
			@include fs(30px, false);
		}

		&--3 {
			@include fs(24px, false);
		}
	}


	.p {
		@include fs(14px, false);
		margin-bottom: 1em;
		margin-top: 1em;

		.code {
			padding: 1px 4px;
			background: c("inline-code--bg");
			color: c("inline-code--text");
		}

		&--modified {
			@include fs(10px, false);
			margin-bottom: .5em;
		}
	}
	
	a {
		@include trans("color");
		color: c("page-link");
		text-decoration: none;
		
		&:hover {
			color: shade( c("page-link"), 50 );
		}

		&:visited {
			color: c("page-link-visited");

			&:hover {
				color: shade( c("page-link-visited"), 50 );
			}
		}
	}

	.list {
		.li {
			margin-top: 0;
		}

		.p {
			margin: 0;
		}
	}


	.code {
		@include fs(14px);
		font-family: $ff-Mono;
	}

	pre.code {
		background: c("example");
	}


	.pre {
		background: c("code--bg");
		margin-bottom: 1em;
		border: 1px solid c("sidebar__border");
		border-radius: 5px;

		.code {
			@include fs(14px);
			color: white;
		}

		.xml {
			.hljs-tag { color: c("main-bg"); }
		}
	}

	


	// .hljs {
	// 	&-tag       { color: c("code--tag"); }
	// 	&-title,
	// 	&-variable  { color: c("code--title"); }
	// 	&-attribute { color: c("code--attribute"); }
	// 	&-value     { color: c("code--value"); }
	// 	&-comment   { color: c("code--comment"); }
	// 	&-keyword   { color: c("code--keyword"); }
	// 	&-string    { color: c("code--string"); }
	// }

	// .hljs-class > .hljs-keyword { color: c("code--class"); }
	// .hljs-title + .hljs-keyword { color: c("code--title"); }
	// .hljs-keyword + .hljs-title { color: c("code--attribute"); }

	// .xml {
	// 	.hljs-tag { color: c("sidebar"); }
	// }



	.example {
		position: relative;
		margin: 0 0 1em;
		padding: 1em;
		border: 1px solid c("sidebar__border");
		border-radius: 5px;
		background: c("example");

		&:after {
			@include absolute(top 0 right 0);
			@include fs(12px);
			display: block;
			content: "example";
			border-radius: 0 5px 0 5px;
			border-left: 1px solid c("sidebar__border");
			border-bottom: 1px solid c("sidebar__border");
			padding: 0 .5em;
			background: white;
		}
	}


	table {
		min-height: 0;
	}

	th,
	td {
		padding: .5em;
		text-align: left;
	}

	tr {
		th {
			border-bottom: 1px solid c("navbar-bd")
		}
		&:nth-child(odd) {
			td {
				background: c("example");
			}
		}
	}
}


.m-scene {
	.scene_element {
		animation-duration: 0.5s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
		
		&--fadein {
			animation-name: fadeIn;
		}
	}

	&.is-exiting {
		.scene_element {
			animation-direction: alternate-reverse;
		}
	}
}

/*
 * Keyframes
 */
@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}



/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em 1em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;

}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-javadoc,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}


