html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: c("main-bg");
    color: c("body-text");
}




.container {
    height: 100%;
}

.el {
        background-color: $sidebar-background;
        border-right: 1px solid $lines;
        overflow-x: hidden;
    }

    .right-column {
        .content-page {
            padding: 20px;
            min-height: 100%;
            background-color: white;
        }
    }


.content-area,
.article-tree {
    overflow: auto;
    padding: 0px;

    @media (min-width: 767px) {
        height: 100%;
    }
}

//mobile friendly sub-nav
.responsive-collapse {
    padding: 10px 15px;
    display: none;
    background-color: $lines;
    border-bottom: 1px solid $lines;

    @media (max-width: 767px) {
        display: block;
    }
}

.sub-nav-collapse {
    @media (max-width: 768px) {
        display: none;
    }

    @media (min-width: 768px) {
        display: block;
    }
}