*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-height: 100vh;
    background-color: c("main-bg");
    color: c("body-text");
}




.container {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}




.content {
    @include clearfix;
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
    }
}


.main,
.sidebar {
    padding: h("navbar")+1 1em 1em;

    @include breakpoint(tablet) {
        
    }
}



.sidebar {
    @include relative(top 0 left 0);
    background-color: c("sidebar");
    flex-order: -1;
    width: 100%;

    @include breakpoint(tablet) {
        position: fixed;
        width: 16em;
        height: 100%;
        height: 100vh;
        padding-top: h("navbar--tablet")+1;
    }
}



.main {
    @include transition($anim-Header);
    padding: 1em;
    flex: 1;
    width: 100%;

    @include breakpoint(tablet) {
        padding-top: h("navbar--tablet")+1;
        margin-left: $w-Sidebar;
    }
}






.el {
        background-color: $sidebar-background;
        border-right: 1px solid $lines;
        overflow-x: hidden;
    }

    .right-column {
        .content-page {
            padding: 20px;
            min-height: 100%;
            background-color: white;
        }
    }


.content-area,
.article-tree {
    overflow: auto;
    padding: 0px;

    @media (min-width: 767px) {
        height: 100%;
    }
}

//mobile friendly sub-nav
.responsive-collapse {
    padding: 10px 15px;
    display: none;
    background-color: $lines;
    border-bottom: 1px solid $lines;

    @media (max-width: 767px) {
        display: block;
    }
}

.sub-nav-collapse {
    @media (max-width: 768px) {
        display: none;
    }

    @media (min-width: 768px) {
        display: block;
    }
}