$ff-Sans  : "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-Serif : "Roboto Slab", Georgia, "Times New Roman", Times, serif;
$ff-Mono  : "Droid Sans Mono", monospace;


$breakpoints: (
	"nav"     : (min-width: em(464)),
	"tablet"  : (min-width: em(768)),
	"labtop"  : (min-width: em(992)),
	"desktop" : (min-width: em(1200))
);


$base-palette: (
  "base": #999, 
  "colors": #fff #ddd #bbb #999 #777 #555 #333
);
$gray-palette : create-named-palette(#999);



$color-code-red    : #f92672;
$color-code-blue   : #66d9ef;
$color-code-yellow : #e6db74;
$color-code-green  : #a6e22e;

$site-colors : (
	"main-bg" : #fff,
	"body-text" : #222,

	"navbar"     : #333,
	"logo__main" : #fff,
	"btn__nav"   : #fff,
	
	"sidebar"         : #fafafa,
	"sidebar__border" : #ccc,
	
	"inline-code--bg"   : #f9f2f4,
	"inline-code--text" : #c7254e,

	
	"code--bg"        : #222,
	"code--tag"       : white,
	"code--title"     : $color-code-red,
	"code--attribute" : $color-code-green,
	"code--value"     : $color-code-yellow,



	"footer__bg"     : #111,
	"footer__border" : #555,
	"footer__text"   : #fff,
);




$heights : (
	"navbar"         : 2em,
	"navbar__tablet" : 3em,

	"footer"         : 1.8em,
);
$w-Sidebar : 14em;


$z-layers : (
	"offscreen"        : -1,

	"page__content"    : 20,
	"sidebar__close"   : 25,
	"sidebar"          : 30,

	"footer__main"     : 50,

	"ribbon"           : 90,
	"navbar"           : 100,
);


$anim-DefaultTime : 0.3s;
$anim-Header  : height $anim-DefaultTime linear;
$anim-Content : margin $anim-DefaultTime linear;
$anim-Ribbon  : opacity $anim-DefaultTime linear;
$anim-NavBtn  : width $anim-DefaultTime ease-in-out;
$anim-Sidebar : all $anim-DefaultTime ease-in-out;

$offCanvasMenu : translateX($w-Sidebar);





$sidebar-hover: #c5c5cb;
$sidebar-background: #f5f5f6;

$lines: #e7e7e9;
$dark: #13132a;
$light: #7795b4;
$text: #2d2d2d;

$syntax-string: #000000;
$syntax-comment: #505050;
$syntax-number: #09559b;
$syntax-label: #001775;



