$font-family-sans-serif : "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif      : Georgia, "Times New Roman", Times, serif;



$breakpoints: (
	"nav"     : (min-width: em(464)),
	"tablet"  : (min-width: em(768)),
	"labtop"  : (min-width: em(992)),
	"desktop" : (min-width: em(1200))
);


$base-palette: (
  "base": #999, 
  "colors": #fff #ddd #bbb #999 #777 #555 #333
);
$gray-palette : create-named-palette(#999);

$site-colors : (
	"main-bg" : #fff,
	"sidebar" : #f3f3f3,

	"navbar"     : get_darkest($gray-palette),
	"logo--main" : #222,
	"btn--nav"   : #fff,

	"body-text" : #222,

	"footer--main" : #ccc,
);




$heights : (
	"navbar"         : 2em,
	"navbar--tablet" : 3em,

	"footer--main"   : 2em,
);
$w-Sidebar : 16em;


$z-layers : (
	"offscreen"        : -1,

	"content--sidebar" : 20,
	"content--main"    : 30,

	"footer--main"     : 50,

	"ribbon"           : 90,
	"navbar"           : 100,
);


$anim-DefaultTime : 0.3s;
$anim-Header  : height $anim-DefaultTime linear;
$anim-Content : margin $anim-DefaultTime linear;
$anim-Ribbon  : opacity $anim-DefaultTime linear;




$sidebar-hover: #c5c5cb;
$sidebar-background: #f5f5f6;

$lines: #e7e7e9;
$dark: #13132a;
$light: #7795b4;
$text: #2d2d2d;

$syntax-string: #000000;
$syntax-comment: #505050;
$syntax-number: #09559b;
$syntax-label: #001775;



